<!DOCTYPE html>
<html lang="pl" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Amazon Shop</title>
  <link rel="stylesheet" href="style.css" />

</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <a href="index.html">Amazona</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Kategorie</a>
        <a href="signin">Zaloguj</a>
      </div>
    </header>

    <main class="main">
      <ul>
        <li> Produkt 1 </li>
        <li> Produkt 2 </li>
        <li> Produkt 3 </li>
      </ul>
    </main>
    <footer class="footer">
      All right reserved.
    </footer>
  </div>
</body>

</html>
